.slide-orange { border: 5px solid orange; border-radius: 50%; padding: 10px; }
.slide-blue { border: 5px solid blue; border-radius: 50%; padding: 10px; }
.slide-purple { border: 5px solid purple; border-radius: 50%; padding: 10px; }
.slide-green { border: 5px solid green; border-radius: 50%; padding: 10px; }