<ion-content class="ion-padding">
  
  <swiper-container pagination="true" class="ion-padding-top">
    
    <swiper-slide *ngFor="let slide of slides">
      
      <div class="slide-container ion-text-center ion-padding">
        
        <div class="image-container" [class]="slide.class">
          <img [src]="slide.image" [alt]="slide.title">
        </div>

        <h2 class="ion-text-uppercase ion-margin-top">{{ slide.title }}</h2>
        <p class="ion-text-center">{{ slide.desc }}</p>
      
      </div>
    </swiper-slide>

  </swiper-container>

  <div class="ion-padding">
    <ion-button expand="block" shape="round" (click)="finalizarIntro()">
      Comenzar ahora
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>