// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root{
--color-claro: #f80707;
--color-oscuro: #00ff37;
 --espaciado-base: 1rem;
--espaciado-grande: 2rem;
}