.slide-content {
  text-align: center;
  padding: 10px;
}

.slide-content img{
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10% 0;
}

.slide-content h2 {
  margin: 0;
  font-size: 2.5rem;
  color:chocolate;
}

.slide-content p{
  font-size: 20px;
  color: #aa4f04d0;
  text-align: justify;
}

.card{
  padding: car (--espaciado-grande);
  background-color: var(--color-oscuro);
}

.bg-card-test {
  background: #ff9100;
}
.fondo{
  background: #fff;
}